@import "tailwindcss";
@plugin "daisyui" ;

@layer base {
  :root {
    --theme-gradient-light: linear-gradient(to bottom right, #e0f7fa, #e3f2fd, #ede7f6, #fff3e0);
    --theme-gradient-dark: linear-gradient(to bottom right, #0f2027, #203a43, #2c5364);
  }

 .light body {
    min-height: 100vh;
    background-image: var(--theme-gradient-light);
    transition: background-image 0.5s ease;
  }

  .dark body {
    background-image: var(--theme-gradient-dark);
  }

  /* Profile Card background handled by DaisyUI theme */
  .profile-card {
    background-color: var(--base-100); /* light mode */
  }

  .dark .profile-card {
    background-color: var(--base-200); /* dark mode */
  }
}










/* 


@import "tailwindcss";
@plugin "daisyui";


@layer base {
  :root {
    --theme-gradient-light: linear-gradient(
      to bottom right,
      #e0f7fa,
      #e3f2fd,
      #ede7f6,
      #fff3e0
    );

    --theme-gradient-dark: linear-gradient(
      to bottom right,
      #0f2027,
      #203a43,
      #2c5364
    );
  }
}



body {
  @apply min-h-screen transition-colors duration-500 bg-white text-gray-900;
  background-image: var(--theme-gradient-light);
}

.dark body {
  @apply bg-[#020617] text-gray-100;
  background-image: var(--theme-gradient-dark);
} */